.destination-image-wrapper {
    background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1615655436/React%20Project/wine_map_p79f5c.jpg');
}

.destination-section > .destination-content-container > .destination-article-wrapper > .info-button-wrapper > a {
    text-decoration: none;
}

@media all and (max-width: 1200px) {
    .destination-image-container {
        display: none;
    }
    .destination-article-wrapper {
        width: 100%;
        height: auto;
        padding: 55px;
    }

    .info-button-wrapper {
        justify-content: center;
        margin-top: 20px;
    }
}
