@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

/*shared styles between pages and forms*/

/*------------------------------------------------------------------*/
/*all pages*/
.page-wrapper {
    display: flex;
    font-family: 'Rubik', sans-serif;
}

/*--------------------------------------------------------------*/
/*destination and journal pages*/
.destination-section, .journal-section {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.destination-content-container, .journal-content-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width: 85%;
    margin: auto;
}

.destination-article-wrapper, .journal-article-wrapper {
    width: 60%;
    padding: 55px 120px 55px 55px;
}

.destination-image-container, .journal-image-container {
    width: 40%;
    object-fit: cover;
}

.destination-image-wrapper, .journal-image-wrapper {
    position: relative;
    left: -70px;
    top: -30px;
    box-shadow: 0px 0px 11px -3px #000000;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 110%;
    height: 115%;
}

.info-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

/*----------------------------------------------------------------------*/
/*Shared styles for buttons*/
.button {
    outline: none;
    text-decoration: none;
    padding: 15px;
    border-radius: 7px;
    color: white;
    margin-top: 5px;
    display: flex;
    align-self: flex-end;
    width: 160px;
    justify-content: center;
}

.button:hover {
    cursor: pointer;
}

.fa-angle-double-right, .fas.fa-times, .fas.fa-pencil-alt, .fas.fa-check, .fas.fa-heart {
    padding-left: 10px;
    font-size: 20px;
}

.info-button {
    width: 220px;
    background-color: #006666;
}

.info-button:hover {
    background-color: #008A8A;
}

.new-item-button, .my-items-button {
    margin: 0 5px;
    width: 200px;
}

.new-item-button {
    background-color: darkgreen;
}

.new-item-button:hover {
    background-color: green;
}

.my-items-button {
    background-color: #5B3256;
}

.my-items-button:hover {
    background-color: #733F6D;
}

.edit-button, .delete-button {
    margin: 0 5px;
    width: 160px;
}

.edit-button {
    background-color: #DB4400;
}

.edit-button:hover {
    background-color: #FF4F00;
}

.delete-button {
    background-color: #AF002A;
}

.delete-button:hover {
    background-color: #E32636;
}

/*-------------------------------------------------------------*/
/*Shared styles for forms*/
.form-wrapper {
    display: flex;
    flex-direction: column;
    color: white;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    margin: 1% auto;
    padding: 20px 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 50px 30px 50px;
}

.form-field-wrapper {
    margin-top: 20px;
}

.form-field-input {
    width: 100%;
    padding: 7px;
    background-color: #F0F8FF;
    color: black;
    border-radius: 3px;
}

.form-field-input.textarea {
   resize: none;
}

.form-field-input-delete {
    color: gray;
}

.form-button-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-button {
    outline: none;
    padding: 10px 100px;
    border-radius: 5px;
    background-color: #3C5A26;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 30px 0 0 0;
    border: none;
}

.form-button.auth-form-button {
    margin: 0;
}

.form-button:hover {
    cursor: pointer;
    background-color: #5B8A39;
}

.form-info-span {
    font-style: oblique;
    margin-top: 5px;
    font-size: 14px;
    color: #5B8A39;
}

.form-error-div {
    display: flex;
    justify-content: center;
    min-height: 60px;
}
.form-error-span {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 3px solid red;
    /*border-top: 3px solid firebrick;*/
    /*background-color: #5B3256;*/
    color: white;
    margin: 10px 0;
    padding: 8px 30px;
    border-radius: 3px;
}
/*--------------------------------------*/
/*shared styles for all and destails pages*/

.common-all-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3% auto;
}

.custom-details-section {
    display: flex;
    flex-direction: column;
    margin: 3% auto;
}

/*----------------------------------*/
/*shared styles for dictiory cards*/

.white-dictionary-card, .red-dictionary-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    padding: 20px;
    box-shadow: 0px 0px 11px -4px #000000;
    margin: 30px;
    background-color: white;
}

.red-dictionary-card-content-wrapper, .white-dictionary-card-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.red-dictionary-image, .white-dictionary-image {
    width: 60px;
    height: 60px;
}

.red-dictionary-card-title, .white-dictionary-card-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.red-dictionary-text-wrapper, .white-dictionary-text-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.red-dictionary-card-text, .white-dictionary-card-text {
    text-align: justify;
    font-size: 14px;
    margin-bottom: 10px;
}

.red-dictionary-card-button, .white-dictionary-card-button {
    border-radius: 30px;
    outline: none;
    padding: 7px 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.red-dictionary-card-button:hover, .white-dictionary-card-button {
    cursor: pointer;
    color: white;
}

/*----------------------------------------------------------------------*/
