@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

/*shared styles for general pages, login and register pages, form pages*/
.general-pages, .auth-pages, .form-pages, .all-pages{
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /*width: 100%;*/
    /*height: 100vh;*/
    /*position: fixed;*/
}

.general-pages-wrapper {
    display: flex;
    justify-content: space-between;
}

.general-pages-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.57) 11%, rgba(0,0,0,0.7707457983193278) 23%, rgba(0,0,0,0.7567401960784313) 79%, rgba(0,0,0,0.5718662464985995) 90%, rgba(0,0,0,0) 100%);    color: white;
    width: 55%;
    height: 430px;
    margin-top: 90px;
    padding: 50px 90px;

}

.button {
    outline: none;
    text-decoration: none;
    padding: 15px;
    border-radius: 7px;
    background-color: darkgreen;
    color: white;
    margin-top: 5px;
    display: flex;
    align-self: flex-end;
    width: 160px;
}

.button:hover {
    cursor: pointer;
    background-color: green;
}

.fa-angle-double-right {
    padding-left: 5px;
    font-size: 20px;
}

/*-------------------------------------------------------------*/
/*General styles for forms*/

.auth-form-wrapper, .general-form-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
}

.auth-form-site-name-wrapper, .general-form-site-name-wrapper {
    margin: 0 auto;
    border-bottom: 2px solid #5A8839;
}

.auth-form-site-name-text, .general-form-site-name-text {
    position: relative;
    bottom: -25px;
    left: 50px
}

.auth-form-site-name, .general-form-site-name {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    color: #9F61B1;
}

.auth-form-pic, .general-form-pic {
    width: 400px;
    height: 70px;
}

.auth-form, .general-form {
    padding: 30px 50px 40px 50px;
}

.auth-form-heading-wrapper, .general-form-heading-wrapper {
    text-align: center;
}

.auth-form-field-wrapper, .general-form-field-wrapper {
    margin-top: 20px;
}

.auth-form-field-input, .general-form-field-input {
    width: 100%;
    padding: 3px;
    margin-top: 3px;
}

.auth-form-button-wrapper, .general-form-button-wrapper {
    text-align: center;
}

.auth-form-button, .general-form-button {
    outline: none;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #5B8A39;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 30px;
    border: none;
}

.auth-form-button {
    padding: 10px 50px;
}

.general-form-button {
    padding: 10px 100px;
}

.auth-form-button:hover, .general-form-button:hover {
    cursor: pointer;
    background-color: #3C5A26;
}

.general-form {
    display: flex;
    flex-direction: column;
}

.general-form-main-section {
    display: flex;
    flex-direction: row;
}

.general-form-sub-section {
    width: 50%;
    padding: 10px;
}
