.delete-wine-form-wrapper {
    width: 60%;
    margin: 3% auto;
    padding: 20px 30px;
}

.delete-input {
    color: gray;
}

.delete-wine-form-wrapper > .auth-form-site-name-wrapper > .auth-form-site-name-text {
    left: 20px;
}
