.register-form-wrapper > .form-header-wrapper > .form-header-heading-container > .form-header-heading {
    bottom: -25px;
    left: 15px
}

.form-wrapper.register-form-wrapper {
    height: 95%;
    margin: auto;
}
