.bottom-navigation {
    display: flex;
    justify-content: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7707457983193278) 50%, rgba(255,255,255,0) 100%);
    /*padding: 3px;*/
    /*margin-bottom: 20px;*/
}

.bottom-navigation-list {
    display: flex;
    list-style-type: none;
    font-family: 'Open Sans Condensed', sans-serif;
}
