.all-journals-page {
    background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1615655025/React%20Project/writing_z4lxds.jpg');
}

.all-page-wrapper {
    display: flex;
}

.journals-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto 4% auto;

}

.all-journals-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-image: url("https://res.cloudinary.com/dyhmxus4n/image/upload/v1615753659/React%20Project/old_paper_qjmsnl.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    justify-content: center;
    padding: 20px;
}


.all-journals-container {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.all-journals-header {
    font-size: 55px;
    font-family: 'Caveat', cursive;
    text-align: center;
    position: relative;
    top: -20px
}

.peg-image {
    margin: 0 auto;
}

.journal-card {
    background-color: white;
    width: 320px;
    padding: 20px 20px 40px 20px;
    margin: 10px;
    transform: rotate(2deg);
}

.journal-card:nth-child(even) {
    transform: rotate(1deg);
}

.aside-section {
    display: flex;
    flex-direction: column;;
}

.journal-card:nth-child(odd) {
    transform: rotate(-1deg);
}

.journal-image {
    margin: 0 auto;
    width: 280px;
    height: 260px;
}

.title-wrapper {
    font-size: 25px;
    font-family: 'Caveat', cursive;
    text-align: center;
}

.journal-card-link {
    text-decoration: none;
    color: black;
}

.journal-card-link:hover {
    cursor: pointer;
}

.button-wrapper {
    display: flex;
    height: 90px;
    justify-content: flex-end;
    padding: 20px 0;
}
