.all-journals-page {
    background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1615655025/React%20Project/writing_z4lxds.jpg');
}

.all-page-wrapper {
    display: flex;
}

.journals-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 3vh auto;
    min-height: 96vh;
}

.all-journals-button-wrapper {
    display: flex;
    height: 80px;
    justify-content: center;
    padding: 20px 0;
}

.all-journals-wrapper {
    display: flex;
    flex-direction: column;
    background-image: url("https://res.cloudinary.com/dyhmxus4n/image/upload/v1615753659/React%20Project/old_paper_qjmsnl.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.peg-image {
    margin: 0 auto;
}

.all-journals-header {
    font-size: 55px;
    font-family: 'Caveat', cursive;
    text-align: center;
    position: relative;
    top: -20px
}
.all-journals-container {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.journal-card-link {
    text-decoration: none;
    color: black;
}

.journal-card-link:hover {
    cursor: pointer;
}

.journal-card-link:nth-child(even) {
    transform: rotate(1deg);
}

.journal-card-link:nth-child(odd) {
    transform: rotate(-1deg);
}

.all-journals-container > a {
    text-decoration: none;
    color: black;
}
