.journals-section {
    display: flex;
    flex-direction: column;
    width: 82%;
    margin: 3% auto;
    justify-content: flex-start;
}

.all-journals-button-wrapper {
    display: flex;
    height: 80px;
    justify-content: center;
    padding: 20px 0;
}

.all-journals-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #FFFACC;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.peg-image {
    margin: 0 auto;
}

.all-journals-header {
    font-size: 55px;
    font-family: 'Caveat', cursive;
    text-align: center;
    position: relative;
    top: -20px;
    color: black;
}
.all-journals-container {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.all-journals-container > a:nth-child(even) {
    transform: rotate(1deg);
}

.all-journals-container > a:nth-child(odd) {
    transform: rotate(-1deg);
}
