.white-dictionary-card {
    background-color: white;
}

.white-dictionary-card-button {
    color: white;
    background-color: black;
}

.white-dictionary-card-button:hover {
    background-color: firebrick;
}
