.home-wrapper {
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*background-color: rgba(0, 0, 0, 0.65);*/
    /*color: white;*/
    width: 60%;
    height: 70%;
    margin: auto;
    /*padding: 1px;*/
    border: 15px solid rgba(0, 0, 0, 0.65);;
}

.home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    width: 97%;
    height: 97%;
    margin: auto;
    padding: 0 80px 80px 80px;
}

.home-page-subheading {
    position: relative;
    bottom: -50px;
    font-family: 'Caveat', cursive;
    font-size: 40px ;
    text-align: center;
    font-weight: 400;
    color: #FCB269;
}

.home-page-heading {
    font-family: 'Caveat', cursive;
    font-size: 80px ;
    text-align: center;
    font-weight: 400;
    letter-spacing: 10px;
    margin: 20px;
    color: #FCB269;
}

.home-page-paragraph {
    text-align: center;
}
