.home-page {
    background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1615655024/React%20Project/home_xcupse.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.home-page > div > Aside > h1 {
    color: transparent;
}

.home-section {
    margin-right: 15%;
    padding-top: 0;
}

.home-page-subheading {
    font-family: 'Caveat', cursive;
    font-size: 40px ;
    text-align: center;
    font-weight: 400;
    position: relative;
    bottom: -50px;
}

.home-page-heading {
    font-family: 'Caveat', cursive;
    font-size: 85px ;
    text-align: center;
    font-weight: 400;
    letter-spacing: 10px;
    margin: 20px;
}


