.destination-details-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destination-details-card-header {
    text-align: center;
}

.destination-details-card-heading {
    font-size: 35px;
}

.destination-details-card-image {
    width: 450px;
    height: 300px;
    box-shadow: 0 0 11px -3px #000000;
}

.floating-image {
    float: right;
    margin-left: 20px;
}
.destination-details-card-text {
    text-align: justify;
    margin: 30px 0;
}

.pic-and-info-wrapper {
    display: flex;
    justify-content: space-between;
}

.destination-details-card-map {
    width: 85%;
    height: 60%;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-left: 20px;
}

.info-subtitle {
    font-weight: bold;
}

.destination-details-card-address {
    text-align: center;
}

.forecast-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.forecast-button-wrapper > a {
    text-decoration: none;
}

.forecast-button {
    background-color: #3C5A26;
    color: white;
    font-family: 'Rubik', sans-serif;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
}

.forecast-button:hover {
    background-color: #5B8A39;
    cursor: pointer;
}

@media all and (max-width: 1200px) {

    .pic-and-info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-wrapper {
        width: 100%;
    }

    .destination-details-button-wrapper {
        justify-content: center;
    }
}
