.destination-details-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ddc-heading {
    text-align: center;
    font-size: 35px;
}

.ddc-description {
    text-align: justify;
    margin-top: 30px;
}

.ddc-floating-image {
    float: right;
    width: 450px;
    height: 300px;
    margin-left: 20px;
    box-shadow: 0 0 11px -3px #000000;
}

.ddc-non-floating-image {
    width: 90%;
    height: 40%;
    margin: 30px 0;
    box-shadow: 0 0 11px -3px #000000;
}

.ddc-map-and-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ddc-map {
    width: 50%;
    min-height: 300px;
}

.ddcs-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 41%;
    min-height: 300px;
    padding-top: 40px;
}

.ddc-address-services-wrapper {
    display: flex;
    flex-direction: column;
}

.ddc-info-subtitle {
    font-weight: bold;
}

.ddc-address {
    margin-bottom: 30px;
}

.forecast-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.forecast-button-wrapper > a {
    text-decoration: none;
}

.forecast-button {
    background-color: #3C5A26;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 15px 0;
}

.forecast-button:hover {
    background-color: #5B8A39;
    cursor: pointer;
}

@media all and (max-width: 1200px) {

    .ddc-map-and-info-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ddc-map, .ddcs-info-wrapper {
        width: 100%;
    }

    .ddc-address-services-wrapper {
        align-items: center;
    }

    .ddc-services {
        text-align: center;
    }

    .ddc-floating-image {
        display: flex;
        float: none;
        margin: 0 auto;
    }
}
