.destination-page {
    background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1615655436/React%20Project/wine_map_p79f5c.jpg');
    height: 100vh;
}

.destination-section {
    margin-right: 7%;
}

.destination-page > .general-pages-wrapper > .destination-section {
    height: 480px;
    margin-top: 60px;
}

.destination-page > .general-pages-wrapper > Aside > Footer > .footer {
    color: black;
}
