.wine-list-details-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background-color: white;
    padding: 30px;
    margin: 1% auto;
}

.wdc-button-wrapper {
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
}
