.all-destinations-section {
    display: flex;
    flex-direction: column;
    width: 83%;
    margin: 3% auto;
    align-items: center;
    justify-content: flex-start;
}

.all-destinations-button-wrapper {
    display: flex;
    height: 80px;
    justify-content: center;
    padding: 20px 0;
    margin: 10px 0 0 0;
}

.all-destinations-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 40px;
    width: 90%;
    padding: 10px 20px 20px 20px;
}

.suitcase-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.suitcase-image {
    margin: 0;
}

.all-destinations-header {
    font-size: 55px;
    font-family: 'Caveat', cursive;
    text-align: center;
    position: relative;
    top: -20px;
    color: white;
}

.all-destinations-container {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.destination-card-link {
    text-decoration: none;
    color: black;
}

.destination-card-link:hover {
    cursor: pointer;
}

.all-destinations-container > a {
    text-decoration: none;
    color: black;
    width: 85%;
}
