.all-destinations-page {
    background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1615655436/React%20Project/wine_map_p79f5c.jpg');
}

.all-page-wrapper {
    display: flex;
}

.destinations-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 3vh auto;
    min-height: 96vh;
}

.all-destinations-button-wrapper {
    display: flex;
    height: 90px;
    justify-content: center;
    padding: 20px 0;
}

.all-destinations-wrapper {
    display: flex;
    flex-direction: column;
    background-image: url("https://res.cloudinary.com/dyhmxus4n/image/upload/v1615769581/React%20Project/gray_paper_h7w2v0.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.suitcase-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.suitcase-image {
    margin: 0;
}

.all-destinations-header {
    font-size: 55px;
    font-family: 'Caveat', cursive;
    text-align: center;
    position: relative;
    top: -20px
}
.all-destinations-container {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.destination-card-link {
    text-decoration: none;
    color: black;
}

.destination-card-link:hover {
    cursor: pointer;
}

.all-destinations-page > .all-page-wrapper > section > Aside > Footer > .footer {
    color: black;
}
