.all-destinations-page {
    background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1615655436/React%20Project/wine_map_p79f5c.jpg');
}

.all-page-wrapper {
    display: flex;
}

.destinations-section {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 75%;
    margin: 3vh auto;
    min-height: 96vh;
}

.all-destinations-button-wrapper {
    display: flex;
    height: 80px;
    justify-content: center;
    padding: 20px 0;
}

.all-destinations-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
    /*box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.95);*/
    justify-content: center;
    width: 100%;
    padding: 10px 20px 20px 20px;
}

.suitcase-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.suitcase-image {
    margin: 0;
}

.all-destinations-header {
    font-size: 55px;
    font-family: 'Caveat', cursive;
    text-align: center;
    position: relative;
    top: -20px;
    color: white;
}

.all-destinations-container {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.destination-card-link {
    text-decoration: none;
    color: black;
}

.destination-card-link:hover {
    cursor: pointer;
}

.all-destinations-container > a {
    text-decoration: none;
    color: black;
}
