.home-section {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.home-content-wrapper {
    display: flex;
    width: 60%;
    margin: auto;
    padding: 10px;
    border: 15px solid rgba(0, 0, 0, 0.65);;
}

.home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 0 80px 80px 80px;
}

.home-page-subheading {
    position: relative;
    bottom: -50px;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    font-weight: 400;
    color: #FCB269;
}

.home-page-heading {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 80px;
    font-weight: 400;
    color: #FCB269;
    letter-spacing: 10px;
    margin: 20px;
}

.home-page-paragraph {
    text-align: center;
    line-height: 1.1;
}
