.footer {
    font-family: 'Caveat', cursive;
    font-size: 24px;
    color: black;
    margin-top: 20px;
    padding: 10px 15px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.5606617647058824) 0%, rgba(255,255,255,0) 100%);
}
