.bottle-page {
    background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1615655025/React%20Project/bottles_vghjby.jpg');
    height: 100vh;
}

.bottle-section {
    margin-right: 7%;
}
