.bottle-content-container {
    width: 90%;
    margin: 3% auto;
}

.bottle-section > .bottle-content-container > .dictionary-article > .dictionary-article-header{
    background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1615655025/React%20Project/bottles_vghjby.jpg');
}
