.red-dictionary-card {
    background-color: firebrick;
}

.red-dictionary-card-content-wrapper {
    color: white;
}

.red-dictionary-card-button {
    border: none;
    color: firebrick;
    background-color: white;
}

.red-dictionary-card-button:hover {
    background-color: gray;
}
