.journal-page {
    background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1615655025/React%20Project/writing_z4lxds.jpg');
    height: 100vh;
}

.journal-section {
    margin-right: 7%;
}

.journal-page > .general-pages-wrapper > .journal-section {
    height: 480px;
    margin-top: 60px;
}

.journal-section > a {
    text-decoration: none;
}
