.jdc-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    background-image:
            linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
            linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.7em;
}

.journal-details-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jdc-first-section {
    margin: 0 40px 0 100px;
}

.jdc-second-section {
    margin-bottom: 60px;
}

.jdc-heading {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    text-align: center;
}

.jdc-subsection {
    display: flex;
    flex-direction: column;
}

.jdc-subheading {
    font-size: 30px;
    font-family: 'Caveat', cursive;
    text-decoration: underline;
    margin: 20px 0 10px 0px;
}

.jdc-text {
    text-align: justify;
    line-height: 1.5;
}

.jdc-image-container {
    display: flex;
    flex-direction: column;
}


.jdc-image-and-tape-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jdc-subheading.image-and-tape-heading {
    margin-left: 100px;
    margin-bottom: 0;
}

.tape {
    position: relative;
    bottom: -20px;
    width: 250px;
    height: 80px;
    background-image: url("https://res.cloudinary.com/dyhmxus4n/image/upload/v1616498543/React%20Project/tape_rel617.png");
}

.left-tape {
    transform: rotate(5deg);
}

.right-tape {
    transform: rotate(-5deg);
}

.jdc-image {
    width: 550px;
    height: 350px;
    box-shadow: 0px 0px 9px -3px #000000;
    margin-bottom: 10px;
}

@media all and (max-width: 1024px) {
    .jdc-image {
        width: 350px;
        height: 200px;
    }

    .tape {
        width: 150px;
        height: 50px;
    }
}
