.journal-details-section {
    width: 80%;
    /*background-color: white;*/
    background-image: url("https://i.pinimg.com/originals/8a/f9/4a/8af94acf5e43ebc202b578be4f51dc82.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 25px;
    margin: 5vh auto;
    min-height: 90vh;
}
