.aside-navigation-listItem {
    margin: 5px;
}
.aside-navigation-link {
    color: white;
    font-size: 25px;
}

.aside-navigation-link:hover {
    font-weight: bold;
}

.aside-navigation-list > a {
    text-decoration: none;
}

.selected-aside-item {
    font-weight: bold;
    border-left: 5px solid firebrick;
    padding: 0 0 0 10px;
}
