.forecast-wrapper {
    color: white;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFACC;
    border-radius: 5px;
    padding: 20px 30px 70px 30px;
    margin: auto;
    background-image: url("https://media.istockphoto.com/photos/clear-blue-sky-background-with-scattered-clouds-picture-id184304316?k=6&m=184304316&s=612x612&w=0&h=Y3daH7tigcvjNSI7dYKWiT2EWGQ14XHkxdHLqkTpaSU=");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.forecast-header {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 55px;
    color: white;
}

.forecast-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 4% auto;
}

