.add-destination-page {
    background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1615719210/React%20Project/468015_jwp6zh.jpg');
    height: 100vh;
}

.add-destination-form-wrapper {
    width: 65%;
    margin: auto 7%;
}
