.top-wines-section {
    width: 82%;
}

.top-wines-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #FFFACC;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.top-wines-header {
    display: flex;
    justify-content: center;
}

.top-wines-header > a {
    text-decoration: none;
}

.top-wines-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.top-wines-heading, .all-wines-heading-button {
    font-family: 'Caveat', cursive;
    font-size: 55px;
    margin: 0 20px;
}

.all-wines-heading-button {
    color: rgba(0, 0, 0, 0.50);
}

.all-wines-heading-button:hover {
    color: black;
}

.top-wines-container > a {
    text-decoration: none;
    color: #465945;
}
